/* container.css */

.container {
  max-width: 760px;
  margin: 75px auto;
  padding: 25px;
  box-shadow: 5px 5px 15px #000;
  background-color: #fff;
}

.container__header {
  font-size: 36px;
  color: #222;
  text-align: center;
  display: inline-block;
  border-left: 5px solid #FFC514;
  padding-left: 25px;
  margin-bottom: 50px;
}

.container__paragraph {
  margin-bottom: 12px;
  text-align: center;
  font-size: 16px;
}

.container__paragraph--highlited {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: #000;
}